@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* share design */
.font-family{
    font-family: "Work Sans", sans-serif;
}
.flex{
    display: flex;
}
.button{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    border: none;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 8px;
}
main, footer, .header-section{
    margin: 0 auto;
    max-width: 1440px;
}
.content-text{
    max-width: 542px;
}
.content-text h2{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.content-text p{
    font-weight: 1rem;
}

.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.orange{
    color: #FF900E;
}

/* header section */
.header-container{
    /* max-width: 1920px; */
    height: 1322px;
    background-color: rgba(255, 144, 14, 0.1);
    border: 1px solid rgba(255, 144, 14, 0.1);
}

.nav-section{
    justify-content: space-between;
    align-items: center;
    /* max-width: 1452px; */
    margin: 50px auto 102px;
}
.brand{
    font-weight: bold;
    font-size: 2.8rem;
}
.menu-section{}
.menu{
    list-style: none;
    margin-right: 30px;
}
.page-link{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.header-content-section{
    /* margin: 0 auto;
    max-width: 1440px; */
}
.header-content{
    max-width: 868px;
    margin: 0 auto;
    text-align: center;
}
.content-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 32px;
}
.content-description{
    font-size: 1rem;
    margin-bottom: 32px;
}
.header-img{
    margin-top: 50px;
    width: 100%;
}

/* our-features-container */
.our-features-container{
    align-items: center;
    margin: 85px 0 130px;
}

.our-feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-feature-text{
    max-width: 537px;
    margin-left: 73px;
}
.our-feature-text h2{
    font-size: 2.8rem;
    font-weight: bold;
}
.our-feature-text p{
    font-size: 1rem;
    margin: 24px 0 32px;
}
/* features-container */
.features-container{
    height: 1059px;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.features-text{
    max-width: 586px;
    height: 982px;
    margin: 39px 146px 39px 0;
}
.features-text-top{
    padding-bottom: 30px;
}
.features-text-top h2{
    max-width: 468px;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    font-weight: bold;
    font-size: 2.8rem;
}
.features-text-top p{
    padding-top: 24px;
    font-size: 1rem;
}
.features-text-bottom{}

.feature-text-box{
    max-width: 586px;
    height: 171px;
    background-color: #FFFFFF;
    padding: 30px 42px 30px 30px;
    /* border: 1px solid red; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
.feature-text-box h3{
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.feature-text-box p{
    font-size: 1rem;
}

.features-img{}
.features-img img{
    max-width: 100%;
}
.features-img-but{
    background-color: #FF900E;
    border: none;
    max-width: 342px;
    height: 200px;
    border-radius: 8px;
    padding: 45px 42px;
    margin-left: -92px;
    margin-top: -123px;
}
.features-img-but h5{
    color: white;
    font-weight: bold;
    font-size: 4rem;
}
.features-img-but h6{
    color: white;
    font-weight: 500;
    font-size: 1.56rem;
}

/* fact-container */
.fact-container{
    margin: 130px 0 0;
}

.fact-content-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 50px;
}
.card{
    border: 1px solid #FF900E;
    width: 241px;
    height: 241px;
    margin-top: 100px;
    margin-bottom: 180px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card img{
    max-width: 100%;
}
.card h5{
    margin: 10px 0 5px;
    font-weight: 600;
    font-size: 2.8rem;
}
.card h6{
    font-weight: 600;
    font-size: 1.2rem;
}
/* sponspors section */
.sponspors-container{}

.align-items{
    margin: 0 auto;
    text-align: center;
}

.sponspors-logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
    margin: 50px auto 130px;
}
.sponspors-logo img{
    margin: 0 auto;
}

/* footer-section */
.footer-section{
    height: 100px;
    background-color: #FFF4E7;
    margin-bottom: 216px;
}
.footer-section p{
    font-size: 1.25rem;
    text-align: center;
    padding: 39px 0;
}

/* ----responsive---- */
@media screen and (max-width:576px){
    .nav-section, 
    .menu-section, 
    .our-features-container, 
    .features-container{
        flex-direction: column;
    }
    .our-feature-img, 
    .fact-content-card, 
    .sponspors-logo{
        grid-template-columns: 1fr;
    }
    .our-feature-text{
        margin: 20px 20px 0;
    }
    .fact-content-card{
        margin: 30px auto;
    }
    .card{
        margin: 0 auto 15px;
    }
    .fact, .align-items{
        padding: 0 20px;
        text-align: center;
        margin: 0 auto;
    }
    .sponspors-logo img{
        margin: 0 auto 30px;
    }
    .features-text-top{
        margin: 0 20px;
    }

    .features-img{
        margin: 90px auto 0;
    }
    
    .features-img-but{
        display: none;
        /* visibility: hidden; */
    }
    .features-text{
        margin: 0 auto;
    }
    .fact-container{
        margin-top: 600px;
    }
}